<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>CityManagerWeb</display-name>

    <listener>
        <listener-class>
            com.sketchproject.citymanager.helpers.DBManagerSetup
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>servletParameters</servlet-name>
        <servlet-class>
            com.sketchproject.citymanager.servlets.ServletParameters
        </servlet-class>

        <init-param>
            <param-name>secretCode</param-name>
            <param-value>111-11-1111</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletParameters</servlet-name>
        <url-pattern>/ServletParameters.do</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost/world</param-value>
    </context-param>

    <context-param>
        <param-name>initialseed</param-name>
        <param-value>2</param-value>
    </context-param>
<!--
    <session-config>
        <session-timeout>3600</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
            <max-age>7200</max-age>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
-->
    <context-param>
        <param-name>dbuserid</param-name>
        <param-value>root</param-value>
    </context-param>

    <context-param>
        <param-name>dbuserpwd</param-name>
        <param-value>anggaari</param-value>
    </context-param>

    <context-param>
        <param-name>dbinitcat</param-name>
        <param-value>sandbox</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>